* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

ul,
ol,
li {
  list-style: none;
}

button {
  cursor: pointer;
}

body {
  overflow-x: hidden;
  font-family: "Playfair Display", serif;
}

/* custome class */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.text-xs {
  font-size: 10px;
}

.text-sm {
  font-size: 12px;
}

.text-md {
  font-size: 14px;
}

.text-lg {
  font-size: 16px;
}

.text-xl {
  font-size: 18px;
}

.text-xll {
  font-size: 22px;
}

.text-xlll {
  font-size: 38px;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.text-grey {
  color: #a2a6b0;
}

.text-black {
  color: #020202;
}

.text-white {
  color: #fff;
}

.text-blue {
  color: #0156ff;
}

.text-green {
  color: #78a962;
}

.text-yellow {
  color: #e9a426;
}

.text-red {
  color: #c94d3f;
}

.text-light {
  color: #f5f7ff;
}

.text-dark-blue {
  color: #272560;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}
/* Common Classes */

/* start header section */
header {
  position: relative;
  z-index: 999;
}
/* Start Desktop Header Section */
.desktop-header {
  margin: 26px auto;
}

/* start Desktop header navbar section  */
.desktop-nav a {
  font-size: 20px;
  font-weight: 400;
  color: #07484a;
  margin: 0 15px;
  transition: all 0.3s linear;
}
.desktop-nav-active {
  font-weight: 700 !important;
  text-decoration: underline #07484a solid 5px !important;
}
.desktop-nav a:hover {
  font-weight: 700;
}
/* end Desktop header navbar section  */

/* start Desktop header icon section */

.desktop-header-icon a {
  margin: 0 15px;
  font-size: 27px;
  color: #07484a;
}
/* end Desktop header icon section */
/* End Desktop Header Section */

/* Start laptop Header Section */
.laptop-header {
  margin: 26px auto;
  display: none;
}

/* start laptop header navbar section  */
/* .laptop-nav a {
  font-size: 20px;
  font-weight: 400;
  color: #07484a;
  margin: 0 15px;
}
.laptop-nav-active {
  font-weight: 700 !important;
}
.laptop-nav a:hover {
  font-weight: 700;
} */
#menuToggle {
  display: block;
  position: fixed;
  text-align: center;
  z-index: 10;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a {
  text-decoration: none;
  color: #07484a;
  transition: all 0.3s linear;
}
#menuToggle a:hover {
  color: #5dfaff;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin: 5px auto;
  position: relative;
  background: #07484a;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #07484a;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 100vw;
  margin: -60px auto;
  padding: 70px 50px 20px 50px;
  left: -48.5vw;
  right: 0;
  box-sizing: border-box;
  overflow-y: auto;
  background: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}
#menu li label {
  cursor: pointer;
}
#menuToggle input:checked ~ ul {
  transform: none;
}

/* end laptop header navbar section  */

/* start laptop header icon section */

.laptop-header-icon a {
  margin: 0 15px;
  font-size: 27px;
  color: #07484a;
}
/* end laptop header icon section */
/* End laptop Header Section */

/* Start tablet Header Section */
.tablet-header {
  margin: 15px auto;
  display: none;
}

/* start tablet header navbar section  */
/* .tablet-nav a {
  font-size: 20px;
  font-weight: 400;
  color: #07484a;
  margin: 0 15px;
}
.tablet-nav-active {
  font-weight: 700 !important;
}
.tablet-nav a:hover {
  font-weight: 700;
} */
#menuToggletablet {
  display: block;
  position: fixed;
  text-align: center;
  z-index: 10;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggletablet a {
  text-decoration: none;
  color: #07484a;
  transition: all 0.3s linear;
}
#menuToggletablet a:hover {
  color: #5dfaff;
}
#menuToggletablet input {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggletablet span {
  display: block;
  width: 30px;
  height: 4px;
  left: 10px;
  margin: 4px auto;
  position: relative;
  background: #07484a;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggletablet span:first-child {
  transform-origin: 0% 0%;
}

#menuToggletablet span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggletablet input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #07484a;
}
#menuToggletablet input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggletablet input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menutablet {
  position: absolute;
  width: 100vw;
  margin: -60px auto;
  padding: 70px 50px 20px 50px;
  left: -3vw;
  right: 0;
  box-sizing: border-box;
  overflow-y: auto;
  background: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menutablet li {
  padding: 10px 0;
  font-size: 22px;
}
#menutablet li label {
  cursor: pointer;
}
#menuToggletablet input:checked ~ ul {
  transform: none;
}

/* end tablet header navbar section  */
/* start tablet header logo section  */
.tablet-header-logo {
  width: 30%;
}
.tablet-header-logo a {
  width: 104px;
}
.tablet-header-logo img {
  width: 100%;
}
/* end tablet header logo section  */

/* start tablet header icon section */

.tablet-header-icon a {
  margin: 0 8px;
  font-size: 21px;
  color: #07484a;
}
/* end tablet header icon section */
/* End tablet Header Section */

/* Start mobile Header Section */
.mobile-header {
  margin: 15px auto;
  display: none;
}

/* start mobile header navbar section  */
/* .mobile-nav a {
  font-size: 20px;
  font-weight: 400;
  color: #07484a;
  margin: 0 15px;
}
.mobile-nav-active {
  font-weight: 700 !important;
}
.mobile-nav a:hover {
  font-weight: 700;
} */
#menuToggleMobile {
  display: block;
  position: fixed;
  text-align: center;
  z-index: 10;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggleMobile a {
  text-decoration: none;
  color: #07484a;
  transition: all 0.3s linear;
}
#menuToggleMobile a:hover {
  color: #5dfaff;
}
#menuToggleMobile input {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggleMobile span {
  display: block;
  width: 30px;
  height: 4px;
  left: 10px;
  margin: 4px auto;
  position: relative;
  background: #07484a;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggleMobile span:first-child {
  transform-origin: 0% 0%;
}

#menuToggleMobile span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggleMobile input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #07484a;
}
#menuToggleMobile input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggleMobile input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menuMobile {
  position: absolute;
  width: 100vw;
  margin: -60px auto;
  padding: 70px 50px 20px 50px;
  left: 0vw;
  right: 0;
  box-sizing: border-box;
  overflow-y: auto;
  background: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuMobile li {
  padding: 10px 0;
  font-size: 22px;
}
#menuMobile li label {
  cursor: pointer;
}
#menuToggleMobile input:checked ~ ul {
  transform: none;
}

/* end mobile header navbar section  */
/* start mobile header logo section  */
.mobile-header-logo {
  width: 30%;
}
.mobile-header-logo a {
  width: 104px;
}
.mobile-header-logo img {
  width: 100%;
}
/* end mobile header logo section  */

/* start mobile header icon section */

.mobile-header-icon a {
  margin: 0 8px;
  font-size: 21px;
  color: #07484a;
}
/* end mobile header icon section */
/* End mobile Header Section */

/* end header section */

/* start hero section */

.hero-bg {
  position: absolute;
  top: 0;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  /* height: 740px; */
}
.hero-bg img {
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 50px 50px;
}

.hero-content {
  position: relative;
  z-index: 2;
  padding: 120px 0;
  gap: 45px;
}

.hero-content h1 {
  font-size: 64px;
  color: #07484a;
  font-weight: 700;
}

.hero-content h2 {
  font-size: 24px;
  color: #07484a;
  font-weight: 400;
  font-family: "Open Sans", serif;
}

.primary-btn {
  background: #70908b;
  padding: 20px 25px;
  border-radius: 10px 10px;
  border: transparent;
  width: fit-content;
  text-align: center;
  transition: all 0.2s linear;
}

.primary-btn:hover {
  background: #4c6f6a;
}

.hero-content span {
  font-size: 24px;
  color: #fdfbf8;
  font-weight: 700;
  font-family: "Open Sans", serif;
}
/* end hero section */

/* xxl applies to x-large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .container {
    width: 1140px;
    margin: 0 auto;
  }

  .laptop-header {
    display: none;
  }
  .tablet-header {
    display: none;
  }
  .mobile-header {
    display: none;
  }
}

/* xl applies to large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }
  .desktop-header {
    display: none;
  }
  .laptop-header {
    display: flex;
  }
  .tablet-header {
    display: none;
  }
  .mobile-header {
    display: none;
  }
  .hero-content {
    gap: 30px;
  }
  .hero-content h1 {
    font-size: 48px;
  }
}

/* lg applies to medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    width: 720px;
    margin: 0 auto;
  }
  .desktop-header {
    display: none;
  }
  .laptop-header {
    display: none;
  }
  .tablet-header {
    display: flex;
  }
  .mobile-header {
    display: none;
  }
  .hero-content {
    padding: 50px 0;
    gap: 20px;
  }
  .hero-content h1 {
    font-size: 48px;
  }
}

/* md applies to small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    width: 540px;
    margin: 0 auto;
  }
  .desktop-header {
    display: none;
  }
  .laptop-header {
    display: none;
  }
  .tablet-header {
    display: none;
  }
  .mobile-header {
    display: flex;
  }
  .hero-content {
    padding: 50px 0;
    gap: 20px;
    text-align: center;
  }
  .hero-content h1 {
    font-size: 36px;
  }
  .hero-content h2 {
    font-size: 18px;
  }
  .primary-btn {
    padding: 12px 20px;
    margin: 0 auto;
  }
  .hero-content span {
    font-size: 18px;
  }
}

/* sm applies to extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .desktop-header {
    display: none;
  }
  .laptop-header {
    display: none;
  }
  .mobile-header {
    display: flex;
  }
}
